@font-face{
    font-family: 'Gilroy-Medium';
    src: url('./fonts/Gilroy-Medium.ttf');
}


.UserAdm_1{
    margin: 24px 36px 0 36px;
    .UserAdm_1_top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 36px;
        .UserAdm_1_top_categories{
            width: 438px;
            p{
                padding: 16px;
                font-size: 16px;
                color: rgba(17, 17, 17, 0.54);
            }
        } // close => UserAdm_1_top_categories

        .UserAdm_1_top_search{
            padding: 13px 16px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: 2px solid rgba(17, 17, 17, 0.12);
            box-sizing: border-box;
            border-radius: 12px;
            input{
                outline: none;
                border: none;
                font-size: 16px;
                color: rgba(17, 17, 17, 0.36);
            }
        } // close => UserAdm_1_top_search
    } // close => UserAdm_1_top
    .UserAdm_1_bottom{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        .UserAdm_1_bottom_card{
            margin-bottom: 36px;
            width: 252px;
            
            & > p{
                width: 90%;
            }

            p{
                margin-top: 18px;
                margin-bottom: 18px;
                margin-left: 6px;
                color: rgba(17, 17, 17, 0.72);
                font-size: 16px;
            }

            .UserAdm_1_bottom_card_imgBlock{
                position: relative;
                width: 252px;
                height: 168px;
                border-radius: 16px;
                &::after{
                    content: "";
                    display: block;
                    width: 22px;
                    height: 22px;
                    position: absolute;
                    z-index: 1;
                    bottom: 64px;
                    right: 0px;
                    box-shadow: 6.5px 11.5px 0 0px #fff;
                    border-radius: 19pt;
                    transform: rotateZ(-16deg);
                }
                &::before{
                    content: "";
                    display: block;
                    width: 22px;
                    height: 22px;
                    position: absolute;
                    z-index: 1;
                    bottom: 0px;
                    right: 64px;
                    box-shadow: 10.5px 8.5px 0 0px #fff;
                    border-radius: 19pt;
                    transform: rotateZ(5deg);
                }
                .UserAdm_1_bottom_imgBig{
                    width: 100%;
                    height: 168px;
                    border-radius: 16px;
                }
                div{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 10px;
                    background: #fff;
                    border-radius: 16pt;
                    position: absolute;
                    bottom: -10px;
                    right: -10px;
                    img{
                        border-radius: 16px;
                        width: 54px;
                        height: 54px;
                    }
                } 
                
               
            } // close => UserAdm_1_bottom_card_imgBlock
            .UserAdm_1_bottom_card_progress_title{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 18px 6px 8px 6px;
                border-top:2px solid rgba(17, 17, 17, 0.06);;
                h4{
                    margin: 0;
                    padding: 0;
                    font-weight: 500;
                    font-size: 14px;
                    color: rgba(17, 17, 17, 0.72);
                }
                p{
                    margin: 0;
                    padding: 0;
                    font-weight: 500;
                    font-size: 14px;
                    color: rgba(17, 17, 17, 0.54);
                }
            }
            
            .UserAdm_1_bottom_card_progress_block{
                width: 100%;
                background: #F1F1F1;
                border-radius: 12px;
                height: 8px;
                margin: 0 6px;
                div{
                    height: 100%;
                    background: #006AFF;
                    border-radius: 12px;
                }
            }
            button{
                cursor: pointer;
                padding-top: 12px;
                padding-bottom: 12px;
                width: 100%;
                margin: 24px 6px 0 6px;
                font-weight: 500;
                font-size: 16px;
                color: rgba(17, 17, 17, 0.54);
                background: rgba(17, 17, 17, 0.06);
                border-radius: 12px;
                outline: none;
                border: none;
            }
        }// close => UserAdm_1_bottom_card
    } // close => UserAdm_1_bottom
    .UserAdm_1_pages{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 54px;
        a{  
            font-weight: 500;
            font-size: 16px;
            color: rgba(0, 106, 255, 0.54);
            padding: 8px 15px;
            margin-left: 6px;
        }
        .UserAdm_1_pages_LeftImg{
            margin-right: 6px;
        }
        .UserAdm_1_pages_RightImg{
            margin-left: 12px;
        }
    }
} // close => UserAdm_1



// Laptop 1024 px
@media(max-width:1024px){

    .UserAdm_1{
        .UserAdm_1_top{
            flex-direction: column-reverse;
            .UserAdm_1_top_categories{
                p{
                }
            } // close => UserAdm_1_top_categories
            .UserAdm_1_top_search{
                margin-bottom: 30px;
                input{
                }
            } // close => UserAdm_1_top_search
        } // close => UserAdm_1_top
        .UserAdm_1_bottom{
            justify-content: space-evenly;
            .UserAdm_1_bottom_card{
                margin: 10px;
                margin-bottom: 30px;    
                p{
                }
                .UserAdm_1_bottom_card_imgBlock{
                    &::after{
                    }
                    &::before{
                    }
                    .UserAdm_1_bottom_imgBig{
                    }
                    div{
                        img{
                        }
                    }
                } // close => UserAdm_1_bottom_card_imgBlock
                .UserAdm_1_bottom_card_progress_title{
                    h4{
                    }
                    p{
                    }
                }
                .UserAdm_1_bottom_card_progress_block{
                    div{
                    }
                }
                button{
                }
            }// close => UserAdm_1_bottom_card
        } // close => UserAdm_1_bottom
        .UserAdm_1_pages{
            a{  
            }
            .UserAdm_1_pages_LeftImg{
            }
            .UserAdm_1_pages_RightImg{
            }
        }
    } // close => UserAdm_1

}



// Table 768px
@media(max-width:768px){
        .UserAdm_1{
        .UserAdm_1_top{
            margin-bottom: 30px;
            .UserAdm_1_top_categories{
                p{
                }
            } // close => UserAdm_1_top_categories
            .UserAdm_1_top_search{
                input{
                }
            } // close => UserAdm_1_top_search
        } // close => UserAdm_1_top
.UserAdm_1_bottom{
    .UserAdm_1_bottom_card{

        width: 303px;
        p{
        }
        .UserAdm_1_bottom_card_imgBlock{
            width: 303px;
            height: 202px;
            &::after{
                bottom: 74px;
            }
            &::before{
                right: 74px;
            }
            .UserAdm_1_bottom_imgBig{
                height: 202px;
            }
            div{
                img{
                    width: 64px;
                    height: 64px;
                }
            }
        } // close => UserAdm_1_bottom_card_imgBlock
                .UserAdm_1_bottom_card_progress_title{
                    h4{
                    }
                    p{
                    }
                }
                .UserAdm_1_bottom_card_progress_block{
                    div{
                    }
                }
                button{
                }
            }// close => UserAdm_1_bottom_card
        } // close => UserAdm_1_bottom
        .UserAdm_1_pages{
            padding-bottom: 170px;
            a{  
            }
            .UserAdm_1_pages_LeftImg{
            }
            .UserAdm_1_pages_RightImg{
            }
        }
    } // close => UserAdm_1
}




// Mobile 425px 
@media(max-width:425px){

    .UserAdm_1{
        .UserAdm_1_top{
            .UserAdm_1_top_categories{
                width: 300px;
                .swiper-slide{
                    width: auto !important;
                }
                p{
                }
            } // close => UserAdm_1_top_categories
            .UserAdm_1_top_search{
                input{
                }
            } // close => UserAdm_1_top_search
        } // close => UserAdm_1_top
        .UserAdm_1_bottom{
            flex-direction: column;
            .UserAdm_1_bottom_card{

                p{
                }
                .UserAdm_1_bottom_card_imgBlock{
                    &::after{
                    }
                    &::before{
                    }
                    .UserAdm_1_bottom_imgBig{
                    }
                    div{
                        img{
                        }
                    }
                } // close => UserAdm_1_bottom_card_imgBlock
                .UserAdm_1_bottom_card_progress_title{
                    h4{
                    }
                    p{
                    }
                }
                .UserAdm_1_bottom_card_progress_block{
                    div{
                    }
                }
                button{
                }
            }// close => UserAdm_1_bottom_card
        } // close => UserAdm_1_bottom
        .UserAdm_1_pages{
            a{  
            }
            .UserAdm_1_pages_LeftImg{
            }
            .UserAdm_1_pages_RightImg{
            }
        }
    } // close => UserAdm_1
}








// @media(max-width:1024px){

//     .UserAdm_1{
//         .UserAdm_1_top{
//             .UserAdm_1_top_categories{
//                 p{
//                 }
//             } // close => UserAdm_1_top_categories
//             .UserAdm_1_top_search{
//                 input{
//                 }
//             } // close => UserAdm_1_top_search
//         } // close => UserAdm_1_top
//         .UserAdm_1_bottom{
//             .UserAdm_1_bottom_card{
//                 width: 303px;
//                 p{
//                 }
//                 .UserAdm_1_bottom_card_imgBlock{
//                     width: 303px;
//                     height: 202px;
//                     &::after{
//                         bottom: 74px;
//                     }
//                     &::before{
//                         right: 74px;
//                     }
//                     .UserAdm_1_bottom_imgBig{
//                         height: 202px;
//                     }
//                     div{
//                         img{
//                             width: 64px;
//                             height: 64px;
//                         }
//                     }
//                 } // close => UserAdm_1_bottom_card_imgBlock
//                 .UserAdm_1_bottom_card_progress_title{
//                     h4{
//                     }
//                     p{
//                     }
//                 }
//                 .UserAdm_1_bottom_card_progress_block{
//                     div{
//                     }
//                 }
//                 button{
//                 }
//             }// close => UserAdm_1_bottom_card
//         } // close => UserAdm_1_bottom
//         .UserAdm_1_pages{
//             a{  
//             }
//             .UserAdm_1_pages_LeftImg{
//             }
//             .UserAdm_1_pages_RightImg{
//             }
//         }
//     } // close => UserAdm_1

// }
